<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node with Express</title>
</head>
<body>
    <main>
        <h1>Node With Express</h1>
        <p>layout.hbs is going to be the index.html</p>
        <h2>below is the dynamic contents:</h2>
        <hr>
            {{!-- handlebars will render views here --}}
            {{{body}}}
        <hr>
    </main>
    
</body>
</html>